**/serviceAccount.json
**/token.json

node_modules/

.env
.env.local
.env.*.local

dist/
build/
*.log
*-debug.log*
*-error.log*

.vscode/
.idea/
.DS_Store
**/.DS_Store
Thumbs.db
desktop.ini

.vite/
vite.config.js.timestamp-*
.firebase/

.eslintcache

firebase-export-*/