serviceAccount.json
backend/serviceAccount.json
token.json
backend/token.json

node_modules/
backend/node_modules/
frontend/node_modules/

.env
backend/.env
frontend/.env
*.local

dist/
frontend/dist/
build/
firebase-debug.log*
firestore-debug.log*

*.log
npm-debug.log*

.vscode/
.idea/
.DS_Store
Thumbs.db